@model SalesWebMvc.Models.Seller
@{
    ViewData["Title"] = "Details";
}
<h2>@ViewData["Title"]</h2>


<div>
    <dl class=" dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayFor(model => model.BaseSalary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn-btn-default">Edit </a>
    <a asp-action="Index">back to list</a>
</div>